/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .content {
    padding-top: 60px; /* To prevent content overlap with fixed navbar */
  }
  
  section {
    height: 100vh;
    padding: 20px;
  }
  
  
  #section1 { background-color: lightcoral; }
  #section2 { background-color: lightblue; }
  #section3 { background-color: lightgreen; }
  #section4 { background-color: lightgoldenrodyellow; }
  
  /* Navbar styles */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul li {
    padding: 10px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    color: #ff9800;
  }
  
  /* Change color when navbar is scrolled */
  .scrolled {
    background-color: #555;
  }
  